        body {
            font-family: Arial, sans-serif;
            background:url(https://www.shutterstock.com/image-photo/african-american-business-data-analyst-600nw-1787773664.jpg) no-repeat center center/cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .login-container {
            background:rgb(228, 216, 200);
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
            width: 300px;
        }
        .login-container h2 {
            margin-bottom: 1rem;
        }
        .input-group {
            margin: 10px 0;
        }
        .input-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .login-btn {
            width: 100%;
            padding: 10px;
            background:rgb(58, 58, 118);
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }
        .login-btn:hover {
            background:rgb(123, 90, 123);
        }
        .register-link {
            display: block;
            margin-top: 10px;
            color: #333;
            text-decoration: none;
        }
        .form-container {
            background:rgb(228, 216, 200);
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
            width: 300px;
        }
        .submit-btn {
            width: 50%;
            padding: 10px;
            background:rgb(58, 58, 118);
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }
            

        